@page
@model IndexModel
@{
    ViewData["Title"] = "Craft";
    ViewData["Name"] = "Craft";
}

<div class="main__header">
        <h1 class="main__header-text">Craft</h1>
</div>

<section class="theme" id="Electricity">
    <h2 class="theme__header">Electricity</h2>
    <p class="theme__item"><a class="theme__link" href="https://www.youtube.com/c/MajorTomWorkshop/videos">Major Tom Workshop youtube</a></p>
</section>

<section class="theme" id="Materials">
    <h2 class="theme__header">Materials and substances</h2>

    <section class="theme__section" id="plastic">
        <h3 class="theme__subheader">Plastic</h3>
        <p class="theme__item"><a class="theme__link" href="https://o4istote.ru/stirka/kak-stirat-porolon/">Porolon washing</a>
    </section>

    <section class="theme__section" id="liquids">
        <h3 class="theme__subheader">Liquids</h3>
        <div class="theme__item">
            <a class="theme__link" href="https://o-vode.net/kakaya-byvaet/distillirovannaya/gde-kupit">Distilled water - where to buy</a>
        </div>
    </section>
</section>
