@page
@model IndexModel
@{
    ViewData["Title"] = "IT - Web";
    ViewData["Name"] = "ITWeb";
}

    <div class="main__header">
        <h1 class="main__header-text">Web programming</h1>
    </div>

	<section class="theme" id="hosting">
		<h2 class="theme__header">Hosting</h2>
		<div class="theme__item">
			<a class="theme__link" href="https://www.digitalocean.com/community/tutorials/how-to-install-the-apache-web-server-on-ubuntu-20-04">Install apache on Ubuntu</a> - includes firewall settings
		</div>
	</section>

    <section class="theme" id="asp.net">
    	<h2 class="theme__header">ASP.NET</h2>
    	<p class="theme__item">
			<a class="theme__link" href="https://www.youtube.com/watch?v=U4nNZS1bnj8">ASP.NET lections</a></p>

		<div class="theme__item">
			MAIN: <a class="theme__link" href="https://www.youtube.com/watch?v=7d2UMAIgOLQ">Complete ASP.NET 6.0 and EF Core course</a>
		</div>

		<div class="theme__item">
			<a class="theme__link" href="https://stackoverflow.com/questions/50157934/what-is-difference-between-view-and-page-in-asp-net-core-2">What is difference between View and Page in Asp.net core 2?</a>
		</div>
    </section>