@page
@model IndexModel
@{
    ViewData["Title"] = "Languages";
    ViewData["Name"] = "Languages";
}

<div class="main__header">
        <h1 class="main__header-text">Languages</h1>
</div>

<section class="theme" id="japanese">
    <h2 class="theme__header">Japanese</h2>
    <p class="theme__item">
        <a class="theme__link" href="https://www.japandict.com/kanji/%E5%8A%87?lang=en">MAIN: online dict</a></p>
    
    <p class="theme__item">
        <a class="theme__link" href="https://kanji.koohii.com/">Kanji Koohii</a></p>
    <p class="theme__item">
        <a class="theme__link" href="https://en.wikipedia.org/wiki/Japanese_verb_conjugation">Japanese verb conjugation - wiki</a></p>
    <p class="theme__item">
        <a class="theme__link" href="https://en.wikipedia.org/wiki/List_of_kanji_by_concept">Kanji - list by concept - wiki</a></p>
    <p class="theme__item">
        <a class="theme__link" href="https://en.wikipedia.org/wiki/Kyōiku_kanji">Kyōiku_kanji - 1026 kanji, learned in first 6 years of primary school in Japan</a></p>

    <p class="theme__item">
        <a class="theme__link" href="https://www.kanshudo.com/search">Kanji search: kanshudo</a>
    </p>

    <p class="theme__item">
        <a class="theme__link" href="https://www.transparent.com/word-of-the-day/today/japanese.html">Japanese - word of the day </a></p>

    <section class="theme__section" id="japanese-radicals">
        <h3 class="theme__subheader">MAIN: Radicals</h3>
            <p class="theme__item">
                List of radicals: to copy various forms on Kanjialive: <a class="theme__link" href="https://kanjialive.com/214-traditional-kanji-radicals/">List of radicals</a>
            </p>
            <p class="theme__item">
                1. <a class="theme__link" href="https://en.wikipedia.org/wiki/Radical_8">Radicals pages</a> on wikipedia/en
            </p>
            <p class="theme__item">
                Detailed <a class="theme__link" href="https://www.joyokanji.com/radical-notes">radical notes</a> on joyokanji.com
            </p>
            <p class="theme__item">
                List of all radicals on <a class="theme__link" href="https://www.kanshudo.com/component_details/standard_radicals">kanshudo</a>. From there: list of <a class="theme__link" href="https://www.kanshudo.com/component_details/all_components">all components</a>, used in kanji.
            </p>
            <p class="theme__item">
                Study and practice radical sheets on <a class="theme__link" href="https://japaneseradicals.wixsite.com/japanese-radicals">japanese radicals.wixsite</a>
            </p>

    </section>
</section>
