@page
@model IndexModel
@{
    ViewData["Title"] = "Travel";
    ViewData["Name"] = "Travel";
}

<div class="main__header">
        <h1 class="main__header-text">Travel</h1>
</div>

<section class="theme" id="Europe">
    <h3 class="theme__header">Europe</h3>
    <p class="theme__item"><a class="theme__link" href="https://www.youtube.com/watch?v=E2h2ZFmmDVE">Milan to Sicily - train and ferry - Wing-it Paul Lucas</a></p>

    <p class="theme__item"><b>to watch:</b> <a class="theme__link" href="https://www.youtube.com/watch?v=dPbCKDHYqXY">Greece, narrow gauge, beautiful</a></p>


    <p class="theme__item"><a class="theme__link" href="https://www.youtube.com/watch?v=um-Mtnmrb0k">Amazing Icelandic drivelapse</a></p>
</section>

<section class="theme" id="Eastern-Europe">
    <h3 class="theme__header">Eastern Europe</h3>
    <p class="theme__item"><b>to watch:</b> <a class="theme__link" href="https://www.youtube.com/watch?v=hkFdrOHQnAY">Big Ukrainian travel</a></p>

    <p class="theme__item"><a class="theme__link" href="https://www.youtube.com/watch?v=GtxH6tybUC0&t=1279s">Beresnevich, Crimea, 2021</a></p>

    <p class="theme__item"><a class="theme__link" href="https://www.youtube.com/watch?v=_rsiSZoAzME">Eva zu Beck on Defender - around Europe, Africa and Middle East</a></p>
</section>